In [128]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
%matplotlib inline
import seaborn
import re

In [129]:
df = pd.read_csv('data.csv', parse_dates=True, date_parser=dateparse, dtype = {'Id':'string', 'Title': 'string', 'Company': 'string', 'Date': 'string', 'Location': 'string', 'Area': 'string', 'Classification': 'string', 'SubClassification': 'string', 'Requirement': 'string', 'FullDescription': 'string', 'LowestSalary': 'int', 'HighestSalary': 'int', 'JobType': 'string'})
df['Id'] = df['Id'].str.extract('(^[0-9]+)').astype(int)
df['Date'] = pd.to_datetime(df['Date'])

In [130]:
print(df.head())
print('\n', df.dtypes)

         Id                                              Title  \
0  37404348                           Casual Stock Replenisher
1  37404337                           Casual Stock Replenisher
2  37404356  RETAIL SALES SUPERSTARS and STYLISTS Wanted - ...
3  37404330                              Team member - Belrose
4  37404308  Business Banking Contact Centre Specialist, Ni...

                                          Company                      Date  \
0                                     Aldi Stores 2018-10-07 00:00:00+00:00
1                                     Aldi Stores 2018-10-07 00:00:00+00:00
2                             LB Creative Pty Ltd 2018-10-07 00:00:00+00:00
3                          Anaconda Group Pty Ltd 2018-10-07 00:00:00+00:00
4  Commonwealth Bank - Business & Private Banking 2018-10-07 00:00:00+00:00

                  Location                         Area  \
0                   Sydney  North West & Hills District
1    Richmond & Hawkesbury                         <NA>
2                 Brisbane          CBD & Inner Suburbs
3  Gosford & Central Coast                         <NA>
4                   Sydney        Ryde & Macquarie Park

                   Classification  SubClassification  \
0      Retail & Consumer Products  Retail Assistants
1      Retail & Consumer Products  Retail Assistants
2      Retail & Consumer Products  Retail Assistants
3      Retail & Consumer Products  Retail Assistants
4  Call Centre & Customer Service    Sales - Inbound

                                         Requirement FullDescription  \
0  Our Casual Stock Replenishers pride themselves...            <NA>
1  Our Casual Stock Replenishers pride themselves...            <NA>
2  BRAND NEW FLAGSHIP STORE OPENING - SUNSHINE PLAZA            <NA>
3  Bring it on - do you love the great outdoors a...            <NA>
4  We are seeking highly articulate, enthusiastic...            <NA>

   LowestSalary  HighestSalary JobType
0             0             30    <NA>
1             0             30    <NA>
2             0             30    <NA>
3             0             30    <NA>
4             0             30    <NA>

 Id                                 int32
Title                             string
Company                           string
Date                 datetime64[ns, UTC]
Location                          string
Area                              string
Classification                    string
SubClassification                 string
Requirement                       string
FullDescription                   string
LowestSalary                       int32
HighestSalary                      int32
JobType                           string
dtype: object