### Imports

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
%matplotlib inline
import seaborn
import re

### Read Data

In [3]:
df = pd.read_csv('data.csv', parse_dates=True, dtype = {'Id':'string', 'Title': 'string', 'Company': 'string', 'Date': 'string', 'Location': 'string', 'Area': 'string', 'Classification': 'string', 'SubClassification': 'string', 'Requirement': 'string', 'FullDescription': 'string', 'LowestSalary': 'int', 'HighestSalary': 'int', 'JobType': 'string'})
df['Id'] = df['Id'].str.extract('(^[0-9]+)').astype(int)                         
df['Date'] = pd.to_datetime(df['Date'])

### What are the popular

In [4]:
counts = dict()
for row in df["Classification"]:
    if row not in counts:
        counts.update({row: 1})
    else:
        counts[row] += 1

categories = list()
for key in counts:
    categories.append((key, counts[key]))

categories.sort(key=lambda tup: tup[1])

for tup in categories:
    print(tup)

('Self Employment', 93)
('Advertising, Arts & Media', 833)
('CEO & General Management', 844)
('Farming, Animals & Conservation', 882)
('Science & Technology', 905)
('Sport & Recreation', 984)
('Consulting & Strategy', 1206)
('Insurance & Superannuation', 1474)
('Design & Architecture', 1811)
('Real Estate & Property', 3614)
('Marketing & Communications', 3968)
('Call Centre & Customer Service', 3971)
('Human Resources & Recruitment', 4144)
('Legal', 4237)
('Community Services & Development', 4485)
('Banking & Financial Services', 4633)
('Mining, Resources & Energy', 6288)
('Engineering', 6458)
('Government & Defence', 7443)
('Retail & Consumer Products', 8041)
('Sales', 8119)
('Construction', 8372)
('Education & Training', 9280)
('Accounting', 9368)
('Administration & Office Support', 10020)
('Manufacturing, Transport & Logistics', 12376)
('Hospitality & Tourism', 15523)
('Healthcare & Medical', 17085)
('Trades & Services', 17976)
('Information & Communication Technology', 22796)
(<NA>, 121248)

In [6]:
cities = dict()
for row in df["Location"]:
    if row not in cities:
        cities.update({row: 1})
    else:
        cities[row] += 1

cityList = list()
for key in cities:
    cityList.append((key, cities[key]))

cityList.sort(key=lambda tup: tup[1])

for tup in cityList:
    print(tup)

('Central & South East TAS', 57)
('Fleurieu Peninsula & Kangaroo Island', 64)
('Somerset & Lockyer', 65)
('Tumut, Snowy & Monaro', 86)
('Yorke Peninsula & Clare Valley', 96)
('Coober Pedy & Outback SA', 112)
('Richmond & Hawkesbury', 140)
('Riverland & Murray Mallee', 149)
('Albany & Great Southern', 150)
('Northam & Wheatbelt', 160)
('Mt Gambier & Limestone Coast', 168)
('Katherine & Northern Australia', 187)
('Adelaide Hills & Barossa', 193)
('Far West & North Central NSW', 197)
('Whyalla & Eyre Peninsula', 201)
('Horsham & Grampians', 209)
('Mandurah & Peel', 250)
('Devonport & North West', 256)
('Broome & Kimberley', 283)
('Hervey Bay & Fraser Coast', 285)
('Alice Springs & Central Australia', 301)
('Mildura & Murray', 307)
('Geraldton, Gascoyne & Midwest', 341)
('Bairnsdale & Gippsland', 378)
('Launceston & North East', 388)
('Bundaberg & Wide Bay Burnett', 409)
('Albury Area', 416)
('Coffs Harbour & North Coast', 440)
('Southern Highlands & Tablelands', 465)
('Port Macquarie & Mid North Coast', 469)
('Yarra Valley & High Country', 499)
('Western QLD', 514)
('West Gippsland & Latrobe Valley', 576)
('Shepparton & Goulburn Valley', 601)
('Ballarat & Central Highlands', 603)
('Tamworth & North West NSW', 610)
('Bunbury & South West', 635)
('Dubbo & Central NSW', 642)
('Gladstone & Central QLD', 712)
('Rockhampton & Capricorn Coast', 728)
('Mornington Peninsula & Bass Coast', 739)
('Wagga Wagga & Riverina', 802)
('Bendigo, Goldfields & Macedon Ranges', 808)
('Lismore & Far North Coast', 817)
('Kalgoorlie, Goldfields & Esperance', 870)
('Blue Mountains & Central West', 942)
('Hobart', 1051)
('Darwin', 1266)
('Toowoomba & Darling Downs', 1310)
('Gosford & Central Coast', 1343)
('Northern QLD', 1493)
('Cairns & Far North', 1509)
('Sunshine Coast', 1554)
('Wollongong, Illawarra & South Coast', 1657)
('Port Hedland, Karratha & Pilbara', 1667)
('Mackay & Coalfields', 1701)
('South West Coast VIC', 1790)
('Gold Coast', 3588)
('Newcastle, Maitland & Hunter', 3958)
('ACT', 6250)
('Adelaide', 6653)
('Perth', 13198)
('Brisbane', 21466)
('Melbourne', 46690)
('Sydney', 60765)
(<NA>, 121248)